.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 100px;

  input {
    width: 250px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #555;
    background: #1a1a1a;
    color: white;
  }

  button {
    width: 250px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background: #555;
    }
  }

  .tabela-container {
    max-height: 370px;
    overflow-y: auto;
    width: 800px;
    margin-top: 20px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 3px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      color: white;

      th,
      td {
        padding: 10px 20px;
        border: 1px solid #444;
        text-align: left;
      }

      th {
        background: #333;
        position: sticky;
        top: 0;
      }

      tr:hover {
        background: #1f1f1f;
      }

      td:nth-child(1) {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      td:nth-child(2),
      th:nth-child(2) {
        width: 140px;
      }

      td:nth-child(3),
      th:nth-child(3) {
        width: 80px;
        text-align: center;
      }

      td:nth-child(4),
      td:nth-child(5),
      th:nth-child(4),
      th:nth-child(5) {
        width: 60px;
        white-space: nowrap;
        text-align: center;
        padding: 6px 8px;
      }

      td:nth-child(4) button,
      td:nth-child(5) button {
        width: auto;
        padding: 6px 12px;
      }
    }
  }
}
